<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HSF Appointment App</title>
    <link href="style.css" rel="stylesheet">
    <style>

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="text-center">

<main class="home">

    <div class="form-floating">
        <span><a href="/">Home</a></span>
    </div>

    <form action="submitpatient" method="post">
        <h5 class="h3 mb-3 fw-normal">Enter Patient Information</h5>

        <div class="p-2">
            <div class="row">
                <div class="col form-floating">
                    <input type="text" name="firstName" class="form-control" id="firstnameInput" placeholder="First name">
                    <label for="firstnameInput">First Name</label>
                </div>
                <div class="col form-floating">
                    <input type="text" name="lastName" class="form-control" id="lastnameInput" placeholder="Last name">
                    <label for="lastnameInput">Last Name</label>
                </div>
            </div>
        </div>

        <div class="form-floating p-2">
            <input type="email" name="email" class="form-control" id="emailInput" placeholder="name@example.com">
            <label for="emailInput">Email address</label>
        </div>

        <div class="form-floating p-2">
            <input type="text" name="phone" class="form-control" id="phoneInput" placeholder="Phone">
            <label for="phoneInput">Phone</label>
        </div>

        <div class="form-floating p-2">
            <input type="text" name="address" class="form-control" id="addressInput" placeholder="Address">
            <label for="addressInput">Address</label>
        </div>

        <div class="form-floating p-2">
            <input type="date" name="dob" class="form-control" id="dobInput" placeholder="Date of Birth">
            <label for="dobInput">Date of Birth</label>
        </div>

        <div class="form-floating p-2">
            <input type="text" name="insuranceProvider" class="form-control" id="insuranceInput" placeholder="Insurance">
            <label for="insuranceInput">Insurance Provider</label>
        </div>


        <div class="form-floating p-2">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Add Patient</button>
        </div>
    </form>

    <p class="mt-5 mb-3 text-muted">&copy; 2024</p>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>