{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block title %}{{ title }} | {{ site_title|default:_('HS Fulda Email Marketing') }}{% endblock %}

{% block branding %}
<a href="{% url 'admin:index' %}">
    <span class="align-middle">
        <img src="{% static '/img/hs-fulda-logo-leafs.jpg' %}" alt="HS Fulda Logo" width="30px" style="margin-right: 5px;"/>
        <span>HS Fulda Email Marketing</span>
    </span>
</a>
{% endblock %}

{% block content %}
{% block object-tools %}{% endblock %}

{% if message %}
    <p style="padding: 40px;">{{ message }}</p>
{% endif %}

{% for campaign in campaigns %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product-box p-2">
    <div class="card card-block align-middle">
        <div class="card-header">
            <h4 class="card-title product-title"><a href="/user/mattest/campaign/{{ campaign.id }}">
            {% if campaign.status == False %}
                <i class="fas fa-check alert-light" aria-hidden="true"></i>
            {% else %}
                <i class="fas fa-hourglass-start alert-light" aria-hidden="true"></i>
            {% endif %}
            {{ campaign.name }}</a></h4>
        </div>
        <div class="card-body">
            <p class="card-text font-weight-bold lead"><a href="/user/mattest/campaign/{{ campaign.id }}">{{ campaign.description }}</a></p>            
            
            {% if campaign.start_date %}
            <span class="d-flex justify-content-start"><i class="fas fa-calendar-alt alert-light"></i>&nbsp;&nbsp;Campaign sending date:&nbsp;&nbsp;{{ campaign.start_date }}</span>
            {% else %}
            <span class="d-flex justify-content-start"><i class="fas fa-calendar-alt alert-light"></i>&nbsp;&nbsp;Date is not set</span>
            {% endif %}

            <span class="d-flex justify-content-start"><i class="fas fa-envelope alert-light" aria-hidden="true"></i>&nbsp;&nbsp;Contact List:&nbsp;&nbsp;<a href="/user/mattest/contactlist/{{ campaign.contact_list.id }}/change/">{{ campaign.contact_list.name }} </a></span>
            <span class="d-flex justify-content-start"><i class="fas fa fa-flag alert-light"></i>&nbsp;&nbsp;{% if campaign.status == False %} SENT {% else %} <strong class="text-danger">PENDING</strong> {% endif %}</span>
            <div class="d-flex justify-content-end">
            {% if campaign.status == False %}
            <span class="d-flex justify-content-start alert alert-success">This campaign has been sent already.</span>
            {% else %}
            <form action="/campaign/send/" method="post">
                {% csrf_token %}
                <input type="hidden" name="campaign_id" value="{{ campaign.id }}">
                <input type="hidden" name="api_call" value="false">
                <button type="submit" name="submit"  class="btn btn-info waves-effect">Send Now <i class="fas fa-angle-right"></i></button>
            </form>
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endfor %}


{% endblock %}



{#
<a href="{% url 'admin:index' %}">{{ site_header|default:_('Test') }}</a>
#}